body {
    font-family: Poppins, sans-serif;
    margin: 0;
}

.header {
    margin: 75px 0;
}

.header h1 {
    text-align: center;
    font-size: 52px;
    font-weight: 500;
}

.section1 {
    position: relative;
}

.overlay {
    position: absolute;
    top: -30%;
    left: 9%;
}

.flex-container {
    display: flex;
    margin: 0 auto;
    width: 992px;
    justify-content: space-between;
}

.flex-item {
    flex-basis: 33%;
    padding: 1%;
    position: relative;
}

.line-container {
    width: 100%;
    overflow: hidden;

}

.flex-item img {
    width: 100%;
    transition: 450ms;
}

.flex-item:hover img {
    transform: scale(1.1);
}

.sale-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 0;
    border: none;
    background-color: #083c6e;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Rubik, sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    z-index: 2;
}

.sale-btn:hover {
    background-color: #092e50;
}

.bottom-line {
    background-color: #1e4d7ade;
    position: absolute;
    width: 94%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
}

.bottom-line p {
    font-size: 16px;
    color: white;
    font-weight: 500;
    margin: 0;
    padding: 5px 0;
}

.price-btn {
    background: none;
    border: 1.5px solid white;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 15px;
    cursor: pointer;
}

.price-btn:hover {
    background-color: #1e4d7a;
}

.circles span {
    display: inline-block;
    height: 11px;
    width: 11px;
    background-color: #e0edff;
    margin: 5px 8px;
    border-radius: 50%;
}

.section2 {
    margin: 80px 0;
    background-image: url("../images/Rectangle\ 16.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.section2 div {
    height: 450px;
    background-color: rgba(0, 0, 50, 0.5);
    width: 100%;
}

@media only screen and (max-width: 991px) {
    .overlay {
        display: none;
    }
    .flex-container {
        flex-direction: column;
        width: 85%;
    }
    .flex-item {
        margin-bottom: 25px;
    }
    .sale-btn {
        top: 30px;
        left: 30px;
        font-size: 24px;
        padding: 15px 30px;
    }
    .bottom-line {
        width: 98%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .bottom-line p {
        font-size: 28px;
    }
    .price-btn {
        font-size: 24px;
        padding: 10px 20px;
    }
    .section2 {
        background-position: center;
    }
}

@media only screen and (max-width: 568px) {
    .header h1 {
        font-size: 42px;
    }
    .sale-btn {
        font-size: 20px;
        padding: 10px 20px;
    }
    .bottom-line p {
        font-size: 20px;
    }
    .price-btn {
        font-size: 20px;
        padding: 10px 15px;
    }
}
